<div class="container">
  <h2 mat-dialog-title>Edit Task</h2>
  <div mat-dialog-content>
    <mat-form-field class="mat-form-field" appearance="fill" color="primary">
      <!-- <mat-label>Edit Task</mat-label> -->
      <input matInput [(ngModel)]="editText" />
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button
      mat-raised-button
      color="primary"
      (click)="dialogRef.close(finalData)"
    >
      Save
    </button>
    <button mat-flat-button color="basic" (click)="dialogRef.close()">
      Close
    </button>
  </div>
</div>

<!-- [mat-dialog-close]="finalData" -->
