.container-task {
  display: flex;
  align-items: baseline;
  gap: 5px;

  font-size: 1.1rem;

  animation: TaskAppear 1s ease 0s 1 normal forwards;

  .checked-task {
    text-decoration: line-through;
    font-style: italic;
    color: #69f0ae;
  }

  button {
    &:hover {
      transition: transform 0.1s;
      transition: color 0.2s;
      transform: translateY(-2px);
      color: #7b1fa2;
    }
  }
}

@keyframes TaskAppear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
