.container {
  flex-direction: column;

  margin: 0 20px;
  padding: 10px;

  .container-task {
    display: flex;
    align-items: baseline;
    gap: 5px;

    width: fit-content;

    font-size: 1rem;

    transition: all 0.1s;

    .checked-task {
      text-decoration: line-through;
    }

    // &:hover {
    //   transform: translateY(-1px);
    // }

    button {
      &:hover {
        transform: translateY(-2px);
      }
    }
  }
}
