@import "@angular/material/prebuilt-themes/purple-green.css";

html,
body {
  height: 100%;
}

body {
  margin: 50px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(33, 33, 33);
  color: white;
}

.container {
  border: 1px solid white;
  display: flex;
}
