<div class="container unselectable">
  <p
    appHighlightStats
    highlightColor="#a5a9ae"
    (click)="chnageSeleltedTasks('all')"
  >
    All Tasks: {{ allTasksCount }}
  </p>
  <p
    appHighlightStats
    highlightColor="#69f0ae"
    (click)="chnageSeleltedTasks('completed')"
  >
    Completed Tasks: {{ completedTasksCount }}
  </p>
  <p
    appHighlightStats
    highlightColor="#ffd740"
    (click)="chnageSeleltedTasks('ongoing')"
  >
    Ongoing Tasks: {{ ongoingTasksCount }}
  </p>
</div>
