// button {
//   height: 50px;
// }

.container {
  border: none;

  height: 50px;
  gap: 20px;

  width: 80%;
  margin: 20px auto;

  .input-box {
    flex: 1;
    .full-width {
      width: 100%;
    }
  }

  .btn-box {
    button {
      height: 100%;
    }
  }
}
